plugins:
  discourse_topic_limit_enabled:
    default: true
    client: true
  discourse_topic_limit_categories_names:
    client: false
    type: category_list
    default: 'Staff'
  discourse_topic_limit_message:
    client: false
    type: string
    default: 'You already have a topic in this category. You are only allowed to have one. Please edit your existing topic instead. Please do **not** create a new topic.'
  discourse_topic_limit_max_posts:
    client: false
    type: integer
    default: 1
    min: 1
    max: 100
    description:
      en: "Amount of topics the user can create."
  discourse_topic_limit_excempt_staff:
    client: false
    type: bool
    default: true
  discourse_topic_limit_auto_delete_topic:
    client: false
    type: bool
    default: true