plugins:
  discourse_topic_limit_enabled:
    default: true
    client: true
  discourse_topic_limit_category_name:
    default: 'Server Bazaar'
    type: string
  discourse_topic_limit_message:
    default: 'You already have a topic in the #server-development:server-bazaar section. Please include all advertisements, developer requests, information, etc. in ONE topic. You are able to edit previous posts to include new or modified information by clicking the pencil icon. If you would like to return your post to the top of the list, you can reply to the original topic to bump it. Please do not create any additional topics.'
    type: string
  discourse_topic_limit_max_posts:
    type: integer
    default: 1
    min: 1
    max: 100
    description:
      en: "Amount of topics the user can create."
  discourse_topic_limit_excempt_staff:
    default: true
    type: bool